# Front-end
**/node_modules/*
**/.cache/*
**/dist/*
package-lock.json

# Back-end
*.pyc
.python-version
backend/env

# Local static and media directories
static/*
media/*

# Test
coverage
.coverage
htmlcov/

# Misc
.vscode
.DS_Store
backend/db.sqlite3